apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: delete-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/sauravt01/MonolithicTodoRepo
    targetRevision: main
    path: DeleteTaskTodoMicroservice/manifests

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
